<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="UniversityDb"
             connectionString="Host=26.67.186.182;Port=5432;Database=universitySPA;Username=userapp;Password=Bibiluboba#1488;SslMode=Require;TrustServerCertificate=true;"
             providerName="Npgsql" />
	</connectionStrings>
</configuration>